/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #e67e22
GREY COLOR: #343a40
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'inter', sans-serif;
	line-height: 1;
	font-weight: 400;
	color: #555;
	overflow-x: hidden;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

/*----------------------*/
/*SECTION-HEADER*/
/*----------------------*/
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: #fdf2e9;
	height: 8rem;
	padding: 0 5.2rem;
	/*margin: 0 auto;*/
}

.logo {
	height: 2.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
	line-height: 1;
	color: #333;
	font-weight: 700;
	letter-spacing: -0.5px;
}

.heading-primary {
	font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.subheading {
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
	color: #cf711f;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	margin-bottom: 1.6rem;
}

.heading-secondary {
	font-size: 4.8rem;
	line-height: 1.2;
	margin-bottom: 5rem

}

.heading-tertiary {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 3.2rem;  
}

/*----------------------*/
/*SECTION*/
/*----------------------*/
.section {
	background-color: #fdf2e9;
	padding: 4rem 3.2rem 8rem 3.2rem;
}

.hero-section {
	max-width: 130rem;
	margin: 0 auto;
	background-color: #fdf2e9;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 6.4rem;
}

.hero-img {
	width: 100%;
	height: auto;
}

.hero-info {
	font-size: 2rem;
	line-height: 1.5;
	color: #333;
	margin-bottom: 4.8rem;
}

.btn,
.btn:link, 
.btn:visited {
	display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    /* transition: background-color 0.3s; */
    transition: all 0.3s;
}

.btn--full:link, 
.btn--full:visited {
	background-color: #e67e22;
	color: #fff;
	margin-right: 1.6rem;
}

.btn--full:hover, 
.btn--full:active {
	background-color: #cf711f;
	transition: background-color 0.3s;
}

.btn--outline:link, 
.btn--outline:visited {
	background-color: #fff;
	color: #555;
}

.btn--outline:hover, .btn--outline:active {
	background-color: #f8d8bd;
	box-shadow: inset 0 0 0 3px #fff;
}

.delivered-meals {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	margin-top: 5rem;                                 
}

.delivered-imgs {
display: flex;
}

.delivered-imgs img {
	height: 4.6rem;
	width: 4.6rem;
	border-radius: 50%;
	margin-right: -1.5rem;
	border: 3px solid #fae5d3;
}

.delivered-imgs img:last-child {
	margin: 0;
}

.delivered {
	font-size: 1.7rem;
	font-weight: 500;
}

.delivered span {
	color: #e67e22;
	font-weight: 600;
}

/*----------------------*/
/*REUSABLE GRID*/
/*----------------------*/
.grid {
	display: grid;
	column-gap: 6.2rem;
	row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2--cols {
	grid-template-columns: repeat(2, 1fr);
	
}

.grid--3--cols {
	grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
	grid-template-columns: repeat(4, 1fr);
	gap: 2.4rem;
}

.grid--5--cols {
	grid-template-columns: repeat(5, 1fr);
	gap: 2.4rem;
}

.grid--center-v {
	align-items: center;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 3.2rem;
}

/*----------------------*/
/*SECTION-HOW*/
/*----------------------*/
.section-how {
	padding: 7rem 0;
}

.step-img {
	width: 35%;
}

.step-number {
	font-size: 8.6rem;
	font-weight: 600;
	color: #ddd;
	margin-bottom: 1.2rem;
}

.step-description {
	font-size: 1.8rem;
	color: #333;
	line-height: 1.8;
}

.step-description {
	display: flex;
	align-items: center;
}

.step-img-box {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}

.step-img-box::before,
.step-img-box::after {
	content: "";
	display: block;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.step-img-box::before {
	width: 60%;
	padding-bottom: 60%;
	background-color: #fdf2e9;
	z-index: -2;
}

.step-img-box::after {
	width: 45%;
	padding-bottom: 45%;
	background-color: #fae5d3;
	z-index: -1
}

/*----------------------*/
/*SECTION-FEATURE*/
/*----------------------*/
.section-featured {
	padding: 4.8rem 0 3.2rem 0; 
}

.featured-in {
	font-size: 1.8rem;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	color: #888;
	margin-bottom: 2rem;
}

.logos {
	display: flex;
	justify-content: space-around;
}

.logos img {
	height: 2.8rem;
	filter: brightness(0);
	opacity: 0.5;
}

/*----------------------*/
/*SECTION-MEAL*/
/*----------------------*/
.meal-section {
	padding: 7rem 0;
}

.meal {
	box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
	border-radius: 10px;
	overflow: hidden;
	transition: all 0.4s;
}

.meal:hover {
	transform: translateY(-2rem);
	box-shadow: 0 3.2rem 6.4rem rgb(0 0 0 / 6%);
}

.meal-center {
	display: block;
	font-size: 1.6rem;
	text-align: center;
	font-weight: 500;
	color: #cf711f;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	margin-bottom: 1.6rem;
}

.meal-img {
	width: 100%;
}

.meal-title {
	font-size: 2.4rem;
	font-weight: 600;
	color: #333;
	margin-bottom: 3rem;
}

.meal-content {
	padding: 3rem 4rem 4rem 4rem;
}

.meal-attributes {
	list-style: none;
	display: flex;
	/*align-items: center;*/
	flex-direction: column;
	gap: 2.4rem;
}

.meal-attribute {
	font-size: 2rem;
	display: flex;
	gap: 1rem;
}

.meal-list {
	list-style: none;	
}

.list-item {
	display: flex;
	align-items: center;
}

.meal-icon {
	width: 2.4rem;
	height: 2.4rem;
	color: #cf711f;
}

.tag {
	display: inline-block;
	color: #333;
	font-size: 1.8rem;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	border-radius: 100px;
	padding: 5px 10px;

}

.tag-vegeterian {
	background-color: #51cf66;
}

.tag-avocado-salad {
	background-color: #51cf66;
}

.tag-paleo {
	background-color: #ffd43b;
}

.diets {
	/*display: flex;*/
	gap: 2.4rem;
	flex-direction: column;
}

.diet-list-container {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	list-style: none;
	
}

.diet-list {
	font-size: 1.8rem;
	line-height: 1.2;
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

.diet-icon {
	width: 3rem;
	height: 3rem;
	color: #e67e22;
}

.recipes {
	font-size: 1.8rem;
	text-align: center;
	margin-bottom: 
}

.link:link,
.link:visited {	
	color: #e67e22;
	display: inline-block;
	padding-bottom: 2px;
	text-decoration: none;
	border-bottom: 1px solid currentcolor;

}

.link:hover,
.link:active {
	border-bottom: 1px solid transparent;
	transition: 0.3s;
}

.margin-bottom-ms {
	margin-bottom: 4.8rem !important;
}

/*----------------------*/
/*SECTION-TESTIMONIAL*/
/*----------------------*/
.section-Testimonials {
	background-color: #fdf2e9;
	display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonial-container {
	padding: 9.6rem;
}

.testimonials {
	display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonials-img {
	width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text {
	font-size: 1.8rem;
	line-height: 2.4rem;
	margin-bottom: 1.6rem;
}

.testimonial-author {
	font-size: 1.6rem;
	color: #6f6f6f;
}

/*GALLARY*/
.gallery-img {
	display: block;
	width: 100%;
	transition: all 0.4s;
}

.gallery-img:hover {
	transform: scaleY(1.1);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery-item {
	overflow: hidden;
}
/*----------------------*/
/*SECTION-PRICE*/
/*----------------------*/
.Pricing-section {
	padding: 9.6rem 0; 
}

.pricing-plan {
	border-radius: 11px;
	width: 95%;
}

.pricing-plan--stater {
	justify-self: end;
	padding: 4.6rem;
}

.pricing-plan--complete {
	background-color: #fdf2e9;
	overflow: hidden;
	padding: 4.8rem;
	position: relative;
}

.pricing-plan--complete::after {
	content: "Best value";
    position: absolute;
    top: 6%;
    right: -18%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    background-color: #ffd43b;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
}

.plan-header {
	text-align: center;
    margin-bottom: 4.8rem;
}

.plan-name {
	color: #cf711f;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
}

.plan-price {
	font-size: 6.3rem;
	font-weight: 600;
	color: #333;
	margin-bottom: 1.8rem;
}

.plan-price span {
	font-size: 4.4rem;
	font-weight: 700;	
}

.pricing-text {
	font-size: 1.8rem;
	color: #333;
	text-align: center;
	margin-bottom: 4.8rem;
}

.pricing-list {
	list-style: none;
	display: flex;
	/*align-items: center;*/
	flex-direction: column;
	gap: 2.4rem;
	margin-bottom: 3.6rem;
}

.pricing-icon {
	width: 2.4rem;
	height: 2.4rem;
	color: #e67e22;
}

.list-item {
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	gap: 1.8rem;
	font-size: 1.8rem;

}

.sing-up {
	text-align: center;
	/*margin-bottsom: 4.8rem;*/
}

.price-all {
	font-size: 1.6rem;
	text-align: center;
}

.futures-icon {
	width: 3.2rem;
	height: 3.2rem;
	background-color: #fdf2e9;
	color: #e67e22;
	border-radius: 50%;
	padding: 1.6rem;
	margin-bottom: 3.6rem
}

.futures-title {
	font-size: 1.8rem;
	color: #333;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.75;
	margin-bottom: 2.4rem;
}

.futures-text {
	font-size: 1.8rem;
	color: #555;
	line-height: 1.6;
}

.margin-bottom-md {
    margin-bottom: 4.8rem !important;
}

/*----------------------*/
/*CTA-SECTION*/
/*----------------------*/
.cta-section {
/*padding: 9.6rem;	*/
padding: 4.8rem 0 12.8rem;
}

.cta{
	display: grid;
	grid-template-columns: 2fr 1fr;
	box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    overflow: hidden;

 }

.cta-text-box {
	color: #45260a;
	padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta-text {
	font-size: 1.8rem;
	line-height: 2.8rem;
	margin-bottom: 4.8rem;
}

.cta .heading-secondary {
	color: inherit;
	margin-bottom: 3.2rem;
}

.cta-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label {
	display: block;
	font-size: 1.4rem;
	font-weight: 500;
	margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
	width: 100%;
	font-size: 1.8rem;
	font-family: inherit;
	color: inherit;
	border: none;
	border-radius: 9px;
	padding: 1.2rem;
	box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}
.cta-form select {
	line-height: 1.6rem;
	
}

.btn--form {
	background-color: #45260a;
	color: #fdf2e9;
	border: none;
	padding: 1.2rem;
	align-self: end;
}

.btn--form:hover {
	background-color: #fff;
	color: #45260a;
}

.cta-img-box {
	background-image: linear-gradient( to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35) ), url(img/eating.jpg);
    background-size: cover;
    background-position: center;
}

/*----------------------*/
/*FOOTER*/
/*----------------------*/
.footer {
	padding: 12.8rem 0;
    border-top: 1px solid #eee;
}

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-logo {
	display: block;
	margin-bottom: 2.4rem;
}

.logo-col {
	display: flex;
	flex-direction: column;
}

.social-col {
	list-style: none;
	display: flex;
	gap: 2.4rem;
}

.social-icon {
	width: 2rem;
	height: 2rem;
}

.footer-title {
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 3.4rem;
}

.contact {
	font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
	margin-bottom: 2.4rem;
}

.footer-text {
	font-size: 1.6rem;
	color: #555;
	line-height: 1.6;
}

.footer-link:link,
.footer-link:visited {
	font-size: 1.6rem;
	color: #444;
	text-decoration: none;
/*	display: block;
	margin-bottom: 1.8rem;*/
}

.footer-link:link,
.footer-link:active {
	cursor: pointer;
}

.footer-nav {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.copyright {
	margin-top: auto;
	font-size: 1.6rem;
}